---
layout: default
---

<div class="home">

  <h1>{{ site.title }}</h1>

  <div class="contact-list">
    <ul>
      {% if site.email %}
      <li>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      {% endif %}
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}
      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
  </div>

  <ul class="post-compact-list">
    {% for post in site.posts %}
      <li>
        <span class="post-inline-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-inline-title"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
      </li>
    {% endfor %}
  </ul>

</div>
